#navbar{
    border-radius: 0;
    box-shadow: 0 .7vh  2vh #B71C1C;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #111111;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#navbar:hover{
    box-shadow: 0 .7vh  2vh #1A237E;
}
a{
    text-decoration: none;
}
.itens{
    display: flex;
}
.itens > li{
    list-style-type: none;
    margin-right: 1vw;
}

.jvbf{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5vh;
    color: #B71C1C;
    height: 100%;
    margin-left: 1vw;
    align-self: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.jvbf:hover{
    transition: color .3s linear;
    color: #1A237E;
}

.bar{
    color: #B71C1C;
    font-family: 'Righteous', cursive;
    font-size: 3vh;
}
.bar:hover{
    color: #1A237E;
    transition: color .3s linear;
}
.select{
    color: #FAFAFA !important;
    transition: color .3s linear;
}
.none{
    display: none;
}
body{
    background: url("https://images.pexels.com/photos/159201/circuit-circuit-board-resistor-computer-159201.jpeg") fixed center;
    background-size:cover;
    background-clip:border-box;
    font-family: 'Orbitron', sans-serif;
    margin: 0;

}
.row{
    background: #ECEFF1;
    text-align: center;
    font-size: 3vh;
    float:none;
    color: black;
    margin: 0 0 5vh;
    padding-top: 5%;
    padding-bottom: 2vh;
}
.row > h4{
    margin-top: 0;
}
.repositorio{
    background: #ECEFF1;
    text-align: left;
    font-size: 2.5vh;
    margin: 0;=
    float:none;
    padding-top: 1%;
    padding-bottom: 2vh;
}
.repositorio > a{
    margin-left: 2vw;
    margin-bottom: 2vh;
}
#repButt{
    position: relative;
    left: 44%;
    width: 10%;
    font-size: 2vh;
    font-family: 'Orbitron', sans-serif;
    margin:1%;
}

.social{
    margin-top: 1vh;
    background: #ECEFF1;
    border: none;
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
}
.social:hover{
    filter: grayscale(0%);
}
.container{
    padding-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.jv{
    border-radius: 100%;
    object-position: center;
    position:relative;
    left:50%;
    width: 15vw;
    margin: 2vh 0 4vh -7.5vw;
    border: solid #C0C0C0;
    background: #FFFFFF;
    box-shadow: 0 0  6vh #1A237E;
    transition: border-radius .3s ease-in-out;
}
.jv:hover{
    border-radius: 3%;
    transition: border-radius .3s ease-in-out;
}
.jv2{
    text-align: center;
    background: #B71C1C;
    color: #001010;
    padding: .5vh;
}
.more{
    background-color: #EEEEEE;
    border: 0;
    margin-bottom: 10px;
}
.more:hover{
    box-shadow: none;
}
.see{
    display: none;
    transition: 1s ease-in-out;
}
.see2{
    display: none;
}
.social{
    display: inline-block;;
}
.aviso{
    margin: 2vh 5vw;
    font-size: 2.5vh;
}

.footer{
    background: rgba(0,0,0,0.8);
    color: #B71C1C;
    text-align: center;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin:0;
    width:100%;
}
.contatos{
    background-color: #FFFFFF;
    display: inline-block;
    bottom: 6vh;
    width: 100%;
    font-size: 3vh;
    text-align: center;
}
svg{
    margin: 1vh 0.2vw;
    color: #B71C1C;
    animation-name: conts;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
#butt{
    align-self: center;
}
#xtudo{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    display:none;
    margin: 0 1vw 0 0;
}
.lgicon{
    font-size: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.repitem{
    display: flex;
    margin-top: 2%;
    align-items: center;
}

#fb{
    animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}
#tg{
    animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
#li{
    animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
    -webkit-animation-delay: .6s;
}
#st{
    animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    -webkit-animation-delay: .8s;
}
#env{
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
#in{
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
#yt{
    animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
@keyframes conts {
    0%   {
        color: #B71C1C;
    }

    33%  {
        color:  #1A237E;
    }
    66%  {
        color: #000000;
    }
    100%   {
        color: #B71C1C;
    }
}
@media (max-width: 100vh) {

    #navbar{
        box-shadow: 0 .7vw  2vw #B71C1C;
    }
    #navbar:hover{
        box-shadow: 0 .7vw  2vw #1A237E;
    }
    .jvbf{
        font-size: 7vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .jv{
        border-radius: 100%;
        left:50%;
        width: 15vh;
        margin: 8vw 0 4vw -7.5vh;
        box-shadow: 0 0  6vw #1A237E;
    }
    h4{
        font-size: 1.2vw;
    }
    p{
        font-size: 1vw;
    }
    .bar{
        font-size: 3vw;
    }
    .lgicon{
        font-size: 5vw;
    }
    .row{
        font-size: 2vw;
        margin: 0 0 5vw;
        padding-bottom: 2vw;
    }
    .row > h1{
        font-size: 2vw;
    }
    #repButt{
        font-size: 2.6vw;
        left: 39%;
        width: 20%;
    }

    .repositorio{
        font-size: 2vw;
        padding-bottom: 2vw;
    }
    .repositorio > a{
        margin-left: 2vw;
        margin-bottom: 2vh;
    }
    .social{
        margin-top: 1vw;
    }
    .itens{
        flex-direction: column;
        width: 100%;
    }
    #xtudo{
        display: block;
        margin-right: 3vw;
    }
    .aviso{
        font-size: 1.2vw;
    }
    .contatos{
        font-size: 4.5vw;
    }
    .contatos > h1{
        font-size: 5vw;
    }


}