#navbar{
    border-radius: 0px;
    box-shadow: 0 .7vh  2vh red;
    display: flex;
    height: 8%;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #111111;
    flex-direction: row;
    justify-content: space-between;
}
#navbar:hover{
    box-shadow: 0 .7vh  2vh blue;
}
a{
    text-decoration: none;
}
.itens{
    display: flex;
}
.itens > li{
    list-style-type: none;
    margin-right: 1vw;
}

.jvbf{
    font-family: 'Fredericka the Great', cursive;
    font-size: 5vh;
    color: #FF6D00;
    height: 100%;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.jvbf:hover{
    transition: color .3s linear;
    color: #FFEA00;
}
.jvbf:active{
    color: #76FF03;
}
.bar{
    color: #B71C1C;
    font-family: 'Righteous', cursive;
    font-size: 3vh;
}
.bar:hover{
    color: #76FF03;
    transition: color .3s linear;
}
.bar:active{
    color: #FF9800;
    transition: color .3s linear;
}
.select{
    color: #FAFAFA !important;
}
body{
    background-attachment: fixed;
    background-image: url("https://static.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg");
    background-position: center;
    background-size:cover;
    background-clip:border-box;
    font-family: 'Righteous', cursive;
    margin: 0;

}
.row{
    background: #ECEFF1;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    margin: 0;
    float:none;
    color: black;
    margin-bottom: 5vh;
    padding-top: 5%;
    padding-bottom: 2vh;
}
.row > h4{
    margin-top: 0;
}
.repositorio{
    background: #ECEFF1;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5vh;
    margin: 0;
    float:none;
    padding-top: 5%;
    padding-bottom: 2vh;
}
.repositorio > a{
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.social{
    margin-top: 1vh;
    background: #ECEFF1;
    border: none;
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
}
.social:hover{
    filter: grayscale(0%);
}
.container{
    padding-top: 5%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.jv{
    border-radius: 100%;
    object-position: center;
    position:relative;
    left:50%;
    margin-left: -100px;
    border-style:solid;
    border-color: #C0C0C0;
    background: #FFFFFF;
    box-shadow: 0 0  30px blue;
    transition: border-radius .3s ease-in-out;
}
.jv:hover{
    border-radius: 5px;
    transition: border-radius .3s ease-in-out;
}
.jv2{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: #B71C1C;
    color: #001010;
    padding: 1px;
    margin-top: 20px;
}
.more{
    background-color: #EEEEEE;
    border: 0px;
    margin-bottom: 10px;
}
.more:hover{
    box-shadow: none;
}
.see{
    display: none;
    transition: 1s ease-in-out;
}
.see2{
    display: none;
}
.social{
    display: inline-block;;
}
.aviso{
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 2.5vh;
}
.drive{
    margin-bottom: 40px;
}

.footer{
    background: rgba(0,0,0,0.8);
    color: #B71C1C;
    text-align: center;
    padding-top: .5vh;
    padding-bottom: .5vh;
    margin:0;
    width:100%;
}
.contatos{
    background-color: #FFFFFF;
    display: inline-block;
    bottom: 6vh;
    width: 100%;
    font-size: 3vh;
    text-align: center;
}
svg{
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #E65100;
    animation-name: conts;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

#fb{
    animation-delay: .2s;
}
#tg{
    animation-delay: .4s;
}
#li{
    animation-delay: .6s;
}
#st{
    animation-delay: .8s;
}
#env{
    animation-delay: 1s;
}
#in{
    animation-delay: 1.2s;
}
#yt{
    animation-delay: 1.4s;
}
@keyframes conts {
    0%   {
        color: gold;
    }

    20%  {
        color:  #6d84b4;
    }
    40%  {
        color: #000000;
    }
    60% {
        color:rgba(146, 208, 80, 1);
    }
    80%{
        color: #E65100;
    }
    100%   {
        color: gold;
    }
}